@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #383838;
    font-family: 'Inter', sans-serif;
}

.nav-bar{
    background-color: #575757;
    height: 70px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 35px 400px;   
    border-radius: 0px 0px 10px 10px; 
    border: 1px solid #7a7a7a;
}

.nav-bar button{
    height: 64px;
    width: 114px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
 
    transition: 0.25s;
}

.nav-bar .time{
    background-color: #39c0c5;
}

.time:hover{
    background-color: #328f92;
    color: rgb(217, 217, 217);
    transform: scale(1.07);
}

.start, .remove{
    background-color: #396AC5;
}

.start:hover, .remove:hover{
    background-color: #335595;
    color: rgb(217, 217, 217);
    transform: scale(1.07);
}

.content{
    border: 1px solid #7a7a7a;
    background-color: #575757;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    justify-self: center;
    justify-content: center;
    margin-top: 100px;
    width: 50vh;
    height: 40vh;
    font-size: 150px;
}